@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("img/planet-in-space-side-black-white.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

.glass{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}
.center {
    display: grid;
    place-items: center;
}
.box {
    width: 30vw;
}
.kast1 {
    margin-top: 10vh;
}
.kast2 {
    margin-top: 1vh;
}
.profielbild {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}