@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("img/planet-in-space-side-black-white.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

.glass{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 2px solid rgb(255, 255, 255);
}

button.glass {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    flex: 1;
    margin: 5px;
    max-width: 90%; 
}

button.glass:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

button.glass a {
    color: white;
    text-decoration: none;
}

.center {
    display: grid;
    place-items: center;
}
.box {
    width: 40vw;
}
.kast1 {
    margin-top: 10vh;
}
.kast2 {
    margin-top: 1vh;
}
.profielbild {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-child {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
}
